.heading-para
{
    color: rgb(255, 53, 53);
    font-size: 40px;
   
    text-align: center;
    margin-top: 60px;
}

h2{

    margin: 35px;
    color: wheat;
   

}

.about-para
{
    text-align: center;
   
    font-size: 18px;
    font-weight: 100;
    color: grey;
    
}

.horizontal{
    width: 80%;
    border: 1px solid yellow;
    margin-top: 45px;
    margin-bottom: 40px;
}

