
.carousel-inner {
    position: relative;
    /* Removed height here */
    overflow: hidden;
  }

  .carousel
  {
    margin-top: 107px;
  }
  
  .carousel-item {
    position: relative;
    height: 70vhpx;
    display: none;
    width: 100%;
  }