
.main-footer
{
    background-color:black;
    position: relative;
    bottom: 0;
    width: 100%;
}

.copy{
    text-align: center;
    margin-top: 14px;
    font-size: 12px;
    color: rgb(146, 146, 146);
}

