/* logo */

.navbar
{
    box-shadow: 0 6px 4px -1px rgba(0, 0, 0, 0.2);
}
.logo
{
    width: 195px;
    height: 70px;
}
/* nav items */

.nav-item
{
    padding: 0px 30px;
}



/* paragraph */

.nav-head{
    font-size: 17px;
    font-family: 'Slabo 27px', serif;
}

.nav-head:hover
{ 
    font-weight: 600;
}
/* ul list */
ul{
    margin-left:  auto;
}
