/* logo */


.logo
{
    width: 215px;
    height: 80px;
}
/* nav items */

.nav-item
{
    padding: 0px 30px;
}



/* paragraph */

.nav-head{
    font-size: 17px;
    font-family: 'Slabo 27px', serif;
}

.nav-head:hover
{ 
    color: red;
    font-weight: 600;
    

}

/* ul list */
ul{
    margin-left:  auto;
}

.carousel-inner {
    position: relative;
    /* Removed height here */
    overflow: hidden;
  }
  
  .carousel-item {
    position: relative;
    height: 70vhpx;
    display: none;
    width: 100%;
  }

  .second-footer
  {
      margin-top: 50px;
      width: 100%;
      background-color: red;
  }


